.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center .name {
  max-width: 730px;
  margin-bottom: 30px;
}

.center .form, 
.center .greetings{
  display: none;
}

.center .form input {  
  font-size: 24px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
.center .form input::placeholder {
  color: white;
  opacity: 0.7;
}

.center .form input:focus,
.center .form input:active {
  outline: none;
}

.center .greetings {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.center .showing{
  display: block;
}

@media screen and (min-width: 470px) {
  .center .form input {
    font-size: 36px;
  }

  .center .greetings {
    font-size: 36px;
  }
}
